name: Release
on:
  push:
    branches:
      - main

jobs:
  check-build-type:
    runs-on: ubuntu-latest
    outputs:
      should_versioning: ${{ steps.check_build_type.outputs.should_versioning }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Check build_type
        id: check_build_type
        run: |
          BUILD_TYPE=$(jq -r '.build_type | tostring' metadata.json)
          echo "build_type=$BUILD_TYPE" >> $GITHUB_OUTPUT
          if [ "$BUILD_TYPE" == "Release" ]; then
            echo "should_versioning=true" >> $GITHUB_OUTPUT
            echo "build_type is 'Release'. Continuing with versioning."
          else
            echo "should_versioning=false" >> $GITHUB_OUTPUT
            echo "build_type is '$BUILD_TYPE', not 'Release'. Skipping versioning."
          fi

  auto-release:
    needs: check-build-type
    if: >-
      ${{ needs.check-build-type.outputs.should_versioning == 'true' &&
          github.event_name == 'push' && 
          contains(join(github.event.commits.*.message, '\n'), '(:package:): ') }}
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'

      - name: Install dependencies
        run: |
          npm install \
            semantic-release \
            @semantic-release/commit-analyzer \
            @semantic-release/release-notes-generator \
            @semantic-release/changelog \
            @semantic-release/git \
            @semantic-release/github \
            @semantic-release/exec

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx semantic-release --config .github/misc/.releaserc.json
